footer.py-4.bg-light.mt-auto
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                | Copyright &copy; Jorge Ampuero 2020 &middot;
                |
                | Template from
                |
                a(href='https://startbootstrap.com/templates/sb-admin/') sb-admin
            div
                a(href='#') Privacy Policy
                | 
                | &middot;
                | 
                a(href='#') Terms &amp; Conditions
