nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
            a.nav-link(href='/')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Inicio

            a.nav-link(href='/bikes')
                .sb-nav-link-icon
                    i.fas.fa-list
                | Listado bicicletas

            a.nav-link(href='/bikes/create')
                .sb-nav-link-icon
                    i.fas.fa-plus-circle
                | Agregar bicicleta
