extends layout

block config
  - var pageTitle = "Inicio";
  - var bodyClass = 'sb-nav-fixed';
  - var index = true;
  - var sidenavStyle = 'sb-sidenav-dark';

block content
    .jumbotron
      h1= 'Bienvenido a '+ title
    .row-cols-1
      #map

append scripts
  script(src='/javascripts/map.js')
